
:root {
	--transparent-background: #111a;
	--shadow-color: #000a;

	--TRUE: initial;
	--FALSE: ;

	--sqrt-2: 1.414213562;

	--scrollbar-start-color: tomato;
	--scrollbar-end-color: orange;

	--safe-area-inset-left: env(safe-area-inset-left, 0px);
	--safe-area-inset-right: env(safe-area-inset-right, 0px);
	--safe-area-inset-top: env(safe-area-inset-top, 0px);
	--safe-area-inset-bottom: env(safe-area-inset-bottom, 0px);

	--twitter-icon: url("https://abs.twimg.com/responsive-web/client-web/icon-svg.168b89d5.svg");
	--github-icon: url("https://github.githubassets.com/pinned-octocat.svg");
	--codepen-icon: url("https://cpwebassets.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg");
	--email-icon: url("https://raw.githubusercontent.com/tailwindlabs/heroicons/master/src/24/outline/envelope.svg");

	/* --noise-mask: see bottom of file, https://github.com/microsoft/vscode/issues/169873 */

	--gradient-color-0: tomato;
	--gradient-color-1: yellow;
	--gradient-color-2: lime;
	--gradient-color-3: cyan;
	--gradient-color-4: dodgerBlue;
	--gradient-color-5: magenta;

	color: white;
	scrollbar-color: var(--scrollbar-start-color) transparent;
	overflow: hidden;
	position: fixed;
	inset: 0;

	--javascript-enabled: var(--TRUE);

	--gradient: linear-gradient(to right top, #000, #333);
	background: var(--theme-color, darkSlateBlue) none center center / cover no-repeat fixed;
}

@media (prefers-contrast: more) {
	:root {
		--transparent-background: #000b;
	}
}

body {
	margin: 0;
	font-family: system-ui, sans-serif;
	box-sizing: border-box;
	overflow: hidden auto;
	block-size: 100%;
	position: relative;

	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

main {
	--padding-block: 1rem;
	padding-top: max(var(--safe-area-inset-top), var(--padding-block));
	padding-right: var(--safe-area-inset-right);
	padding-bottom: max(var(--safe-area-inset-bottom), var(--padding-block));
	padding-left: var(--safe-area-inset-left);
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

/* Arabic (ar), Hebrew (iw), Pashto (ps), Persian (fa), Sindhi (sd), Urdu (ur), Uyghur (ug), Yiddish (yi) */
:root:is(:lang(ar), :lang(iw), :lang(ps), :lang(fa), :lang(sd), :lang(ur), :lang(ug), :lang(yi)) {
	direction: rtl;
}

:where(p, h1, h2, h3, h4, h5, h6) {
	margin-block: 0;
}

:where(h1, h2, h3, h4, h5, h6) {
	font-weight: 600;
}

:where(button) {
	font-family: unset;
	font-size: unset;
	font-weight: unset;
	background: unset;
	border: unset;
	padding: unset;
	color: unset;
	cursor: pointer;
}

:where(a) {
	cursor: pointer;
	color: unset;
}

canvas#background-canvas {
	position: fixed;
	display: block;
	inset: 0;
	inline-size: 100%;
	block-size: 100%;
	z-index: -1;
}

canvas#foreground-canvas {
	position: fixed;
	display: block;
	inset: 0;
	inline-size: 100%;
	block-size: 100%;
	z-index: 1;
	pointer-events: none;
}

.awesome {
	/* --backdrop-filter: saturate(150%) brightness(150%) blur(1.8rem); */
	--backdrop-filter: saturate(150%) blur(1.8rem);
	/* --backdrop-filter: blur(1.8rem); */
	-webkit-backdrop-filter: var(--backdrop-filter);
	backdrop-filter: var(--backdrop-filter);
	box-shadow: 0 .2rem 1rem var(--shadow-color);
	--border-radius: 1rem;
	border-radius: var(--border-radius);
	background-color: var(--transparent-background);
	position: relative;
}

.awesome::before {
	content: "";
	z-index: -1;
	position: absolute;
	inset: 0;
	background-color: var(--transparent-background);
	opacity: .6;
	-webkit-mask: var(--noise-mask);
	mask: var(--noise-mask);
	border-radius: inherit;
}

.awesome::after {
	content: "";
	--line-thickness: 2px;
	--radius: var(--border-radius);
	--_left-radius: var(--left-radius, var(--radius));
	position: absolute;
	inset: auto 0 0;
	block-size: var(--radius);
	pointer-events: none;

	background: linear-gradient(to right, var(--gradient-start), var(--gradient-end)) no-repeat;

	--mask:
		conic-gradient(
			at left var(--_left-radius) top 0,
			white 210grad,
			transparent 290grad
		) 0 0 / 100% 100% no-repeat,

		conic-gradient(
			at right var(--radius) top 0,
			transparent 110grad,
			white 190grad
		) 0 0 / 100% 100% no-repeat,

		radial-gradient(
			circle at top right,
			transparent 0 calc(var(--radius) - var(--line-thickness) - .5px),
			white calc(var(--radius) - var(--line-thickness) + .5px) calc(var(--radius) - .5px),
			transparent calc(var(--radius) + .5px)
		) 0 0 / var(--_left-radius) var(--radius) no-repeat,

		linear-gradient(
			white,
			white
		) var(--_left-radius) calc(var(--radius) - var(--line-thickness)) / calc(100% - var(--_left-radius) - var(--radius)) var(--line-thickness) 
		no-repeat,

		radial-gradient(
			circle at top left,
			transparent 0 calc(var(--radius) - var(--line-thickness) - .5px),
			white calc(var(--radius) - var(--line-thickness) + .5px) calc(var(--radius) - .5px),
			transparent calc(var(--radius) + .5px)
		) 100% 0 / var(--radius) var(--radius) no-repeat;
	-webkit-mask: var(--mask);
	mask: var(--mask);

	-webkit-mask-composite: source-in, source-in, source-over, source-over, source-over;
	mask-composite: intersect, intersect, add, add, add;
}

.about-me {
	display: grid;
	grid-template: auto auto / 1fr auto;
	grid-template-areas: "icon heading" "icon text";
	gap: .3rem 1rem;
	inline-size: fit-content;
	padding: 1rem;
	align-items: center;
	margin-inline: 1rem;

	--gradient-start: var(--gradient-color-5);
	--gradient-end: var(--gradient-color-0);
}

.about-me > img {
	grid-area: icon;
	inline-size: 4rem;
	aspect-ratio: 1;
}

.about-me > h1 {
	grid-area: heading;
}

.about-me > p {
	grid-area: text;
}

#browser-warning {
	display: block;
	padding: .2rem .8rem .5rem;
	border: 2px solid orange;
	border-radius: .8rem;
	background-color: black;
	margin-inline: 1rem;
	inline-size: fit-content;
}

#browser-warning::first-letter {
	color: orange;
	font-size: 2em;
	display: block;
}

.contact {
	font-style: normal;
	padding-inline: 1rem;
}

.contact ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	list-style: none;
}

.contact ul li {
	display: flex;
	align-items: center;
	transition: translate 70ms;
}

.contact ul li:hover {
	translate: 0 -3px;
}

.contact ul li > :is(a, button):first-child {
	display: flex;
	gap: .5rem;
	align-items: center;
	padding: .8rem 1rem;
	text-decoration: none;
	border-radius: inherit;
}

.contact ul li > :is(a, button):first-child::before {
	content: "";
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: contain;
	mask-size: contain;
	-webkit-mask-image: var(--mask-image);
	mask-image: var(--mask-image);
	display: inline-block;
	block-size: 1.3rem;
	aspect-ratio: 1;
	background-color: currentColor;
}

.contact ul li > .email ~ a {
	margin-inline-end: .8rem;
}

.contact ul li .twitter::before {
	--mask-image: var(--twitter-icon);
}

.contact ul li .github::before {
	--mask-image: var(--github-icon);
}

.contact ul li .codepen::before {
	--mask-image: var(--codepen-icon);
}

.contact ul li .email::before {
	--mask-image: var(--email-icon);
}

.projects {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	box-sizing: border-box;
	position: relative;

	--gradient-start: var(--gradient-color-4);
	--gradient-end: var(--gradient-color-5);
}

.projects h2 {
	--padding-inline: .8rem;
	--left-radius: 0rem;
	padding: .5rem var(--padding-inline);
	padding-left: calc(var(--padding-inline) + var(--safe-area-inset-left));
	inline-size: fit-content;
	border-start-start-radius: 0;
	border-end-start-radius: 0;
	translate: calc(var(--safe-area-inset-left) * -1) 0;
}

.projects ul {
	margin: 0;
	padding-inline: 1rem;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
	grid-template-rows: masonry;
	gap: 1.5rem;
}

.projects ul li {
	--play-state: paused;
	animation: 1ms var(--play-state) enable-animation;
	--animation: var(--animation-duration) ease-in-out wiggle;
}

.projects ul li:hover {
	--play-state: running;
}

.projects ul li .container {
	transform-origin: var(--transform-origin);
}

.projects ul li:hover .container {
	rotate: 5grad;
}

@media (prefers-reduced-motion: no-preference) {
	.projects ul li .container {
		transition: rotate 80ms;
	}
	
	.projects ul li:not(:hover) .container {
		animation: var(--animation);
	}
}

@keyframes enable-animation {
	from {
		--animation: none;
	}
}

@keyframes wiggle {
	0% {
		rotate: 5grad;
	}
	20% {
		rotate: -4grad;
	}
	40% {
		rotate: 3grad;
	}
	60% {
		rotate: -2grad;
	}
	80% {
		rotate: 1grad;
	}
	100% {
		rotate: 0grad;
	}
}

.projects ul li:nth-of-type(4n + 1) {
	--transform-origin: bottom center;
	--animation-duration: 600ms;
}

.projects ul li:nth-of-type(4n + 2) {
	--transform-origin: center left;
	--animation-duration: 700ms;
}

.projects ul li:nth-of-type(4n + 3) {
	--transform-origin: top center;
	--animation-duration: 900ms;
}

.projects ul li:nth-of-type(4n + 4) {
	--transform-origin: center right;
	--animation-duration: 800ms;
}

.projects ul li > .container {
	block-size: 100%;
}

.projects ul li a.repository {
	position: absolute;
	display: grid;
	place-content: center;
	inline-size: 3rem;
	aspect-ratio: 1;
	margin: .8rem;
	inset-inline-end: 0;
	inset-block-start: 0;
	border-radius: .6rem;
	transition: background-color .15s;
}

.projects ul li a.repository:hover {
	background-color: var(--transparent-background);
}

.projects ul li a.repository::before {
	content: "";
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: contain;
	mask-size: contain;
	--mask-image: var(--github-icon);
	-webkit-mask-image: var(--mask-image);
	mask-image: var(--mask-image);
	display: block;
	block-size: 1.7rem;
	aspect-ratio: 1;
	background-color: currentColor;
}

.projects ul li a.project-link {
	display: flex;
	flex-direction: column;
	gap: .4rem;
	padding: .8rem;
	block-size: 100%;
	box-sizing: border-box;
	border-radius: inherit;
	text-decoration: none;
	position: relative;
}

.projects ul li a.project-link {
	background: linear-gradient(to right, var(--gradient-start), var(--gradient-end));
	-webkit-background-clip: text;
	background-clip: text;
	color: #fffb;
}

@media (prefers-contrast: more) {
	.projects ul li a.project-link {
		background: none;
		color: white;
	}
}

:is(.projects, .contact) ul li:nth-of-type(6n + 1) {
	--gradient-start: var(--gradient-color-0);
	--gradient-end: var(--gradient-color-1);
}

:is(.projects, .contact) ul li:nth-of-type(6n + 2) {
	--gradient-start: var(--gradient-color-1);
	--gradient-end: var(--gradient-color-2);
}

:is(.projects, .contact) ul li:nth-of-type(6n + 3) {
	--gradient-start: var(--gradient-color-2);
	--gradient-end: var(--gradient-color-3);
}

:is(.projects, .contact) ul li:nth-of-type(6n + 4) {
	--gradient-start: var(--gradient-color-3);
	--gradient-end: var(--gradient-color-4);
}

:is(.projects, .contact) ul li:nth-of-type(6n + 5) {
	--gradient-start: var(--gradient-color-4);
	--gradient-end: var(--gradient-color-5);
}

:is(.projects, .contact) ul li:nth-of-type(6n + 6) {
	--gradient-start: var(--gradient-color-5);
	--gradient-end: var(--gradient-color-0);
}

.projects ul li a p {
	flex-grow: 1;
}

.projects ul li a img {
	width: 100%;
	aspect-ratio: 2 / 1;
	border-radius: .3rem;
	object-fit: contain;
}

::selection {
	background-color: var(--scrollbar-start-color);
	color: white;
}

::-webkit-scrollbar {
	inline-size: 1rem;
}

::-webkit-scrollbar-thumb {
	background-image: linear-gradient(
		to bottom,
		var(--scrollbar-start-color),
		var(--scrollbar-end-color)
	);
}

::-webkit-scrollbar-button:start {
	background-color: var(--scrollbar-start-color);
}

::-webkit-scrollbar-button:end {
	background-color: var(--scrollbar-end-color);
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-thumb {
	block-size: 1rem;
	border: .25rem solid transparent;
	border-radius: .5rem;
	background-clip: padding-box;
}

@media (hover: none) {
	:any-link, button {
		-webkit-tap-highlight-color: transparent;
	}

	:root {
		overflow: revert;
		position: revert;
		inset: revert;
	}

	body {
		position: revert;
		overflow: revert;
		block-size: revert;

		min-block-size: 100vh;
		min-block-size: 100dvb;
	}
}

@supports (aspect-ratio: 1) {
	#browser-warning {
		display: none;
	}
}

:root {
	--noise-mask: url('data:image/svg+xml, \
		<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"> \
			<filter id="noise" x="0%" y="0%" width="100%" height="100%"> \
				<feTurbulence type="fractalNoise" baseFrequency="0.8" /> \
			</filter> \
			<rect x="0%" y="0%" width="100%" height="100%" filter="url(%23noise)" /> \
		</svg> \
	');
}
