
:root {
	--transparent-background: #1114;
	/* --shadow-color: #0004; */
	--shadow-color: #0007;

	--scrollbar-start-color: tomato;
	--scrollbar-end-color: orange;
	scrollbar-color: var(--scrollbar-start-color) transparent;

	overflow: hidden;

	--safe-area-inset-left: env(safe-area-inset-left, 0px);
	--safe-area-inset-right: env(safe-area-inset-right, 0px);
	--safe-area-inset-top: env(safe-area-inset-top, 0px);
	--safe-area-inset-bottom: env(safe-area-inset-bottom, 0px);

	--twitter-icon: url("https://abs.twimg.com/responsive-web/client-web/icon-svg.168b89d5.svg");
	--github-icon: url("https://github.githubassets.com/pinned-octocat.svg");
	--codepen-icon: url("https://cpwebassets.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg");
	--email-icon: url("https://raw.githubusercontent.com/tailwindlabs/heroicons/master/src/24/outline/envelope.svg");

	--gradient-color-0: tomato;
	--gradient-color-1: yellow;
	--gradient-color-2: lime;
	--gradient-color-3: cyan;
	--gradient-color-4: dodgerBlue;
	--gradient-color-5: magenta;
}

body {
	margin: 0;
	font-family: system-ui, sans-serif;
	box-sizing: border-box;

	position: fixed;
	inset: 0;
	overflow-x: hidden;
	overflow-inline: hidden;

	--gradient: linear-gradient(to bottom right, lightSkyBlue, slateBlue);
	background-image: var(--background-image, var(--gradient));
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: var(--theme-color, slateBlue);

	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

main {
	--padding-block: 1rem;
	padding-top: max(var(--safe-area-inset-top), var(--padding-block));
	padding-right: var(--safe-area-inset-right);
	padding-bottom: max(var(--safe-area-inset-bottom), var(--padding-block));
	padding-left: var(--safe-area-inset-left);
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

/* Arabic (ar), Hebrew (iw), Pashto (ps), Persian (fa), Sindhi (sd), Urdu (ur), Uyghur (ug), Yiddish (yi) */
:root:is(:lang(ar), :lang(iw), :lang(ps), :lang(fa), :lang(sd), :lang(ur), :lang(ug), :lang(yi)) {
	direction: rtl;
}

:where(p, h1, h2, h3, h4, h5, h6) {
	margin-block: 0;
}

:where(h1, h2, h3, h4, h5, h6) {
	font-weight: 600;
}

:where(button) {
	font-family: unset;
	font-size: unset;
	font-weight: unset;
	background: unset;
	border: unset;
	padding: unset;
	cursor: pointer;
}

:where(a) {
	cursor: pointer;
	color: unset;
}

.about-me, .contact ul li, .projects ul li, .projects h2 {
	--backdrop-filter: saturate(130%) blur(1rem);
	-webkit-backdrop-filter: var(--backdrop-filter);
	backdrop-filter: var(--backdrop-filter);
	box-shadow: 0 .2rem 1.5rem var(--shadow-color);
	--border-radius: 1rem;
	border-radius: var(--border-radius);
	background-color: var(--transparent-background);
	position: relative;
}

.about-me {
	display: grid;
	grid-template: auto auto / 1fr auto;
	grid-template-areas: "icon heading" "icon text";
	gap: .3rem 1rem;
	inline-size: fit-content;
	padding: 1rem;
	align-items: center;
	margin-inline: 1rem;
	
	--gradient-start: var(--gradient-color-5);
	--gradient-end: var(--gradient-color-0);
}

.about-me > img {
	grid-area: icon;
	inline-size: 4rem;
	aspect-ratio: 1;
}

.about-me > h1 {
	grid-area: heading;
}

.about-me > p {
	grid-area: text;
}

#browser-warning {
	padding: .5rem .8rem;
	border: 2px solid orange;
	border-radius: .8rem;
	background-color: #000a;
	margin-inline: 1rem;
	inline-size: fit-content;
}

#browser-warning::first-letter {
	color: orange;
	font-size: 2em;
	float: inline-start;
	margin-inline-end: .3em;
}

.contact {
	font-style: normal;
	padding-inline: 1rem;
}

.contact ul {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	list-style: none;
}

.contact ul li {
	display: flex;
	align-items: center;
	transition: translate 70ms;
}

.contact ul li:hover {
	translate: 0 -3px;
}

.contact ul li > :is(a, button):first-child {
	display: flex;
	gap: .5rem;
	align-items: center;
	padding: .8rem 1rem;
	text-decoration: none;
	border-radius: inherit;
}

.contact ul li > :is(a, button):first-child::before {
	content: "";
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: contain;
	mask-size: contain;
	-webkit-mask-image: var(--mask-image);
	mask-image: var(--mask-image);
	display: inline-block;
	block-size: 1.3rem;
	aspect-ratio: 1;
	background-color: currentColor;
}

.contact ul li > .email ~ a {
	margin-inline-end: .8rem;
}

.contact ul li .twitter::before {
	--mask-image: var(--twitter-icon);
}

.contact ul li .github::before {
	--mask-image: var(--github-icon);
}

.contact ul li .codepen::before {
	--mask-image: var(--codepen-icon);
}

.contact ul li .email::before {
	--mask-image: var(--email-icon);
}

.projects {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	box-sizing: border-box;
	position: relative;

	--gradient-start: var(--gradient-color-4);
	--gradient-end: var(--gradient-color-5);
}

.projects h2 {
	--padding-inline: .8rem;
	--left-radius: 0rem;
	padding: .5rem var(--padding-inline);
	padding-left: calc(var(--padding-inline) + var(--safe-area-inset-left));
	inline-size: fit-content;
	border-start-start-radius: 0;
	border-end-start-radius: 0;
	translate: calc(var(--safe-area-inset-left) * -1) 0;
}

.projects ul {
	margin: 0;
	padding-inline: 1rem;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
	gap: 1.5rem;
}

.projects ul li {
	--transition-duration: .3s;
	--hover-rotate: 5grad;
	position: relative;
	transform-origin: center right;
}

@media (prefers-reduced-motion: no-preference) {
	.projects ul li {
		transition: rotate var(--transition-duration);
	}
}

.projects ul li:nth-of-type(even) {
	--hover-rotate: 3grad;
	transform-origin: bottom center;
}

.projects ul li:hover {
	rotate: var(--hover-rotate);
	--transition-duration: .1s;
}

.projects ul li a.repository {
	position: absolute;
	display: grid;
	place-content: center;
	inline-size: 3rem;
	aspect-ratio: 1;
	margin: .8rem;
	inset-inline-end: 0;
	inset-block-start: 0;
	border-radius: .6rem;
	transition: background-color .15s;
}

.projects ul li a.repository:hover {
	background-color: var(--transparent-background);
}

.projects ul li a.repository::before {
	content: "";
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: contain;
	mask-size: contain;
	--mask-image: var(--github-icon);
	-webkit-mask-image: var(--mask-image);
	mask-image: var(--mask-image);
	display: block;
	block-size: 1.7rem;
	aspect-ratio: 1;
	background-color: currentColor;
}

.projects ul li a.project-link {
	display: flex;
	flex-direction: column;
	gap: .4rem;
	padding: .8rem;
	block-size: 100%;
	box-sizing: border-box;
	border-radius: inherit;
	text-decoration: none;
	position: relative;
}

@media (prefers-contrast: no-preference) {
	.projects ul li a.project-link {
		background: linear-gradient(to right, var(--gradient-start), var(--gradient-end));
		-webkit-background-clip: text;
		background-clip: text;
		color: #fffb;
	}
}

.bottom-gradient {
	--line-thickness: 2px;
	--radius: var(--border-radius);
	--_left-radius: var(--left-radius, var(--radius));
	position: absolute;
	inset: auto 0 0;
	block-size: var(--radius);

	--mask:
		radial-gradient(
			circle at top right,
			transparent 0 calc(var(--radius) - var(--line-thickness) - .5px),
			white calc(var(--radius) - var(--line-thickness) + .5px) calc(var(--radius) - .5px),
			transparent calc(var(--radius) + .5px)
		) 0 0 / var(--_left-radius) var(--radius) no-repeat,

		linear-gradient(white, white) 
		var(--_left-radius) calc(var(--radius) - var(--line-thickness)) / calc(100% - var(--_left-radius) - var(--radius)) var(--line-thickness) 
		no-repeat,

		radial-gradient(
			circle at top left,
			transparent 0 calc(var(--radius) - var(--line-thickness) - .5px),
			white calc(var(--radius) - var(--line-thickness) + .5px) calc(var(--radius) - .5px),
			transparent calc(var(--radius) + .5px)
		) 100% 0 / var(--radius) var(--radius) no-repeat;
	-webkit-mask: var(--mask);
	mask: var(--mask);
}

.bottom-gradient::before {
	content: "";
	display: block;
	inline-size: 100%;
	block-size: 100%;
	background: linear-gradient(to right, var(--gradient-start), var(--gradient-end));

	--mask:
		conic-gradient(
			at top right,
			white 210grad,
			transparent 290grad
		) 0 0 / var(--_left-radius) var(--radius) no-repeat,
		linear-gradient(white, white) var(--_left-radius) 0 / calc(100% - var(--_left-radius) - var(--radius)) var(--radius) no-repeat,
		conic-gradient(
			at top left,
			transparent 110grad,
			white 190grad
		) 100% 0 / var(--radius) var(--radius) no-repeat;
	-webkit-mask: var(--mask);
	mask: var(--mask);
}

:is(.projects, .contact) ul li:nth-of-type(6n + 1) {
	--gradient-start: var(--gradient-color-0);
	--gradient-end: var(--gradient-color-1);
}

:is(.projects, .contact) ul li:nth-of-type(6n + 2) {
	--gradient-start: var(--gradient-color-1);
	--gradient-end: var(--gradient-color-2);
}

:is(.projects, .contact) ul li:nth-of-type(6n + 3) {
	--gradient-start: var(--gradient-color-2);
	--gradient-end: var(--gradient-color-3);
}

:is(.projects, .contact) ul li:nth-of-type(6n + 4) {
	--gradient-start: var(--gradient-color-3);
	--gradient-end: var(--gradient-color-4);
}

:is(.projects, .contact) ul li:nth-of-type(6n + 5) {
	--gradient-start: var(--gradient-color-4);
	--gradient-end: var(--gradient-color-5);
}

:is(.projects, .contact) ul li:nth-of-type(6n + 6) {
	--gradient-start: var(--gradient-color-5);
	--gradient-end: var(--gradient-color-0);
}

.projects ul li a p {
	flex-grow: 1;
}

.projects ul li a img {
	width: 100%;
	aspect-ratio: 2 / 1;
	border-radius: .3rem;
	object-fit: contain;
}

::selection {
	background-color: var(--scrollbar-start-color);
	color: white;
}

::-webkit-scrollbar {
	inline-size: 1rem;
}

::-webkit-scrollbar-thumb {
	background-image: linear-gradient(
		to bottom,
		var(--scrollbar-start-color),
		var(--scrollbar-end-color)
	);
}

::-webkit-scrollbar-button:start {
	background-color: var(--scrollbar-start-color);
}

::-webkit-scrollbar-button:end {
	background-color: var(--scrollbar-end-color);
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-thumb {
	block-size: 1rem;
	border: .25rem solid transparent;
	border-radius: .5rem;
	background-clip: padding-box;
}

@media (hover: none) {
	:any-link, button {
		-webkit-tap-highlight-color: transparent;
	}

	:root {
		overflow: revert;
	}

	body {
		position: revert;
		inset: revert;
		overflow-x: revert;
		overflow-inline: revert;

		min-block-size: 100vh;
		min-block-size: 100dvb;
	}
}

@supports not (aspect-ratio: 1) {
	#browser-warning {
		display: block;
	}
}
